@require './config'

.arrow
  display inline-block
  width 0
  height 0
  &.up
    border-{start-dir} 4px solid transparent
    border-{end-dir} 4px solid transparent
    border-bottom 6px solid $arrowBgColor
  &.down
    border-{start-dir} 4px solid transparent
    border-{end-dir} 4px solid transparent
    border-top 6px solid $arrowBgColor
  &.right
    border-top 4px solid transparent
    border-bottom 4px solid transparent
    border-{start-dir} 6px solid $arrowBgColor
  &.left
    border-top 4px solid transparent
    border-bottom 4px solid transparent
    border-{end-dir} 6px solid $arrowBgColor
